<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.workflow.mapper.WfAppMapper">
    <resultMap type="com.ruoyi.workflow.domain.WfApp" id="WfAppResult">
        <result property="appId" column="appwo_id"/>
        <result property="applicationName" column="application_name"/>
        <result property="applicationId" column="application_id"/>
        <result property="applicationSecret" column="application_secret"/>
        <result property="tenantId" column="tenant_id"/>
        <result property="userId" column="user_id"/>
        <result property="createBy" column="create_by"/>
        <result property="createTime" column="create_time"/>
        <result property="updateBy" column="update_by"/>
        <result property="updateTime" column="update_time"/>
        <result property="delFlag" column="del_flag"/>
        <result property="appFlag" column="app_flag"/>
        <result property="images" column="images"/>
        <result property="appPackage" column="app_package"/>
    </resultMap>


</mapper>
